<div id="modal_inicioSesion" class="form_login">
    <div class="menu_sesion">
        <div class="layout_vertical">
            <div class="tittle_sesion">
                <h3>INICIO DE SESIÓN</h3>
            </div>
        </div>
    </div>
    <div id="logo"></div>
    <div id="slogan"></div>
    <form>
        <label for="UsuarioLogin">Usuario</label>
        <!--input type="text" pattern="[0-9]" maxlength="10" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" id="UsuarioLogin" name="UsuarioLogin" value=""-->
        <input type="text" maxlength="10" id="UsuarioLogin" name="UsuarioLogin" value="">
        <label for="pswLogin">Contraseña de usuario</label>
        <input type="password" maxlength="10" name="pswLogin" id="pswLogin">
        <input onclick="login(
            document.getElementById('UsuarioLogin').value,
            document.getElementById('pswLogin').value
        )" type="button" value="Continuar">
        <div class="line"></div>
    </form>
</div>